body {
    background-color: rgb(234, 234, 234);
    margin: 0;
}

hr {
    background-color: lightgrey;
    border: 0;
    height: 3px;
}

header {
    background-color: white;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

header #name {
    background-color: rgb(9, 175, 167);
    float: left;
    padding: 20px 40px;
    text-align: center;
}

header h1 {
    color: white;
    font-size: 30px;
    margin: 0;
}

header nav {
    color: grey;
    float: right;
    font-size: 20px;
    margin-top: 30px;
}

header #header {
    margin: 0 auto;
    width: 960px;
}

section {
    margin-top: 100px;
}

#bio {
    background-color: white;
    color: black;
    margin: 0 auto 20px;
    width: 960px;
}

#bio .inside-content {
    padding: 20px;
}

#bio p {
    color: grey;
    line-height: 30px;
    padding: 0;
}

#bio h1 {
    color: rgb(9, 175, 167);
    font-size: 30px;
}

#bio img {
    float: left;
    height: 200px;
    padding: 20px;
    padding-left: 0;
    width: 300px;
}
#contact h1 {
    color: rgb(9, 175, 167);
    font-size: 30px;
}

footer {
    background-color: rgb(102, 102, 102);
    border-top: 8px solid rgb(9, 175, 167);
    color: white;
    font-size: 12px;
    padding-top: 40px;
    text-align: center;
}
